.history-container {
    padding: 60px 50px ;
    font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}


.main-content {
    display: flex;
    justify-content: space-between;

}
.background-text-right img{
    object-fit: contain;
    
    height: 13px;
    width: 130px;
}
.header-section{
  padding: 2px 40px;
}


.work-history-label {
  color:#FF0000;
  font-size: 20px;
  font-weight: 700;
}

.history-title {
  color: white;
  font-size: 50px;
  font-weight: 300;
}

.timeline-section {
    margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}

.timeline-border {
  border-left: 2px solid white;
  padding-left: 32px;
}

.timeline-header {
    flex-wrap: wrap;  
}

.timeline-year {
  color: white;
  font-size: 20px;
  font-weight: 500;
  
}

.timeline-role {
  color: white;
  font-size: 16px;
  font-weight: 200;
  
}

.timeline-description {
  color: #d1d5db;
  font-size: 13px;
  line-height: 1.6;
  font-weight: 300;
}

.background-text-right {

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.background-text-left {
  flex: 1;
}

.large-background-text {
  color: #374151;
  font-size: 50px;
  font-weight:700;
  line-height: 1;
  opacity: 0.3;
  user-select: none;
}

.second-section {
  display: flex;
  justify-content: space-evenly;
}

.large-background-text-left {
  margin-bottom: 64px;
}
